aiofiles==24.1.0 ; python_version >= "3.13"
aiogram==3.22.0 ; python_version >= "3.13"
aiohappyeyeballs==2.6.1 ; python_version >= "3.13"
aiohttp==3.12.15 ; python_version >= "3.13"
aiosignal==1.4.0 ; python_version >= "3.13"
annotated-types==0.7.0 ; python_version >= "3.13"
attrs==25.4.0 ; python_version >= "3.13"
certifi==2025.10.5 ; python_version >= "3.13"
charset-normalizer==3.4.3 ; python_version >= "3.13"
dotenv==0.9.9 ; python_version >= "3.13"
frozenlist==1.8.0 ; python_version >= "3.13"
idna==3.10 ; python_version >= "3.13"
magic-filter==1.0.12 ; python_version >= "3.13"
multidict==6.7.0 ; python_version >= "3.13"
peewee==3.18.2 ; python_version >= "3.13"
propcache==0.4.1 ; python_version >= "3.13"
psycopg2-binary==2.9.11 ; python_version >= "3.13"
pydantic-core==2.33.2 ; python_version >= "3.13"
pydantic==2.11.10 ; python_version >= "3.13"
python-dotenv==1.1.1 ; python_version >= "3.13"
requests==2.32.5 ; python_version >= "3.13"
typing-extensions==4.15.0 ; python_version >= "3.13"
typing-inspection==0.4.2 ; python_version >= "3.13"
urllib3==2.5.0 ; python_version >= "3.13"
yarl==1.22.0 ; python_version >= "3.13"
